

.card{
  background-color: grey;
  width: 37%;
  margin: 40px auto;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
#textDiv{
  width: 40%; 
  height: 50%;
  
}
img{
  max-height: 200px;
  width: 60%;
  border-radius: 10%;
  display: block;
  padding-bottom: 1em;
  /* padding-left: 1em; */
  margin-top: 1em;
}

.text{
margin-top: 9%;
margin-left: 17%;
}
#name {
  text-decoration: underline;
}