.homepage-section{
    width: 75%;
    margin: auto;
    padding: 2em;
    display: flex;
}

.homepage-text{
    border-radius: 0.5em;
    margin: 1em;

}
.homepage-img{
    width: 20em;
    height: 12em;
    border-radius: 0.5em;
    margin: 3em 1em 1em 1em;
}

.two{
    flex-direction: row-reverse;
}